In [7]:
import pandas as pd
import datetime
import matplotlib.pyplot as plt
import matplotlib as style
import numpy as np
import lxml
import quandl
import html5lib
import BeautifulSoup

In [6]:
#### install quandl and html5lib packages. 
# !pip install quandl
# !pip install html5lib
# !pip install --upgrade BeautifulSoup
# !pip install --upgrade lxml
# !pip install BeautifulSoup

Collecting BeautifulSoup
  Downloading BeautifulSoup-3.2.1.tar.gz
Building wheels for collected packages: BeautifulSoup
  Running setup.py bdist_wheel for BeautifulSoup: started
  Running setup.py bdist_wheel for BeautifulSoup: finished with status 'done'
  Stored in directory: C:\Users\Richard\AppData\Local\pip\Cache\wheels\5e\be\6d\ed01d5d434a821557b674c9da976f60b1b93d9009447eb9d16
Successfully built BeautifulSoup
Installing collected packages: BeautifulSoup
Successfully installed BeautifulSoup-3.2.1

In [8]:
# Data Frame
web = {'day':[1,2,3,4,5,6],
       'visitor':[11, 12, 13 , 14,15, 16],
       'rate':[21,22,23,24,25,26]
    }

df =  pd.DataFrame(web) ## make the data set data.frame type
df.shape # give  the dimensions of the data set

(6, 3)

In [9]:
#change the column names
df.columns = ['a','b','c']
#set up the index
df2 = df.set_index('a')

#read the specific column
df['a']
df.a
df[['a','b']]
df.a.tolist()
np.array(df[['a','b']])

array([[ 1, 21],
       [ 2, 22],
       [ 3, 23],
       [ 4, 24],
       [ 5, 25],
       [ 6, 26]], dtype=int64)

In [10]:
########## IO - pandas read data function and write csv files
mydata = quandl.get("ZILL/Z11373_MPC")
df = pd.read_csv('ZILL-Z11373_MPC.csv')
df.to_csv('newdf.csv')

In [11]:
print mydata.head()
df.head()

               Value
Date
2010-04-30  5.617978
2010-05-31  6.378987
2010-06-30  6.289308
2010-07-31  5.147059
2010-08-31  4.282655

         Date     Value
0  2016-02-29  7.500000
1  2016-01-31  2.739726
2  2015-12-31  4.952381
3  2015-11-30  3.926145
4  2015-10-31  3.719748

In [12]:
df = pd.read_csv('ZILL-Z11373_MPC.csv', index_col=0)
df.columns = ['House Price in Elmhurst']
df.head()

            House Price in Elmhurst
Date
2016-02-29                 7.500000
2016-01-31                 2.739726
2015-12-31                 4.952381
2015-11-30                 3.926145
2015-10-31                 3.719748

In [13]:
df = pd.read_csv('ZILL-Z11373_MPC.csv', names=['Date','elmhurst price'],index_col=0)
print df.head()
df.to_html('example.html')

             elmhurst price
Date
Date                  Value
2016-02-29              7.5
2016-01-31  2.7397260273973
2015-12-31  4.9523809523809
2015-11-30  3.9261453092142

In [14]:
# building dataset from quandl using you account api key
api_key ="-tu16JxTi3ZC9D4CPXCZ"
price = quandl.get("FMAC/HPI_MUNIN", start_date="1990-01-31",authtoken=api_key)
price.head()

                Value
Date
1990-01-31  66.636046
1990-02-28  66.895673
1990-03-31  67.274865
1990-04-30  67.554643
1990-05-31  67.838786

In [15]:
# Read HTML tables into a list of DataFrame objects.
states = pd.read_html("https://simple.wikipedia.org/wiki/List_of_U.S._states")
print type(states)
print type(states[0])
print states[0].head()

<type 'list'>
<class 'pandas.core.frame.DataFrame'>
              0           1            2                  3
0  Abbreviation  State Name      Capital     Became a State
1            AL     Alabama   Montgomery  December 14, 1819
2            AK      Alaska       Juneau    January 3, 1959
3            AZ     Arizona      Phoenix  February 14, 1912
4            AR    Arkansas  Little Rock      June 15, 1836

In [60]:
a = states[0]
names = states[0][0]
print type(names)
print names.head()
print " "
for abbv in states[0][0][:10] :
     print 'FMAC/HPI_'+ str(abbv)

<class 'pandas.core.series.Series'>
0    Abbreviation
1              AL
2              AK
3              AZ
4              AR
Name: 0, dtype: object

FMAC/HPI_Abbreviation
FMAC/HPI_AL
FMAC/HPI_AK
FMAC/HPI_AZ
FMAC/HPI_AR
FMAC/HPI_CA
FMAC/HPI_CO
FMAC/HPI_CT
FMAC/HPI_DE
FMAC/HPI_FL

In [61]:
########### DATA FRAMES #################
### concatenating and appending dataframes
df1 = pd.DataFrame({'hpi':[80,85,88,85],
                    'int_rate':[2,3,2,2],
                    'us_gdp_thousands':[50,55,65,55]},
                   index = [2001,2002,2003,2004])

df2 = pd.DataFrame({'hpi':[80,85,88,85],
                    'int_rate':[2,3,2,2],
                    'us_gdp_thousands':[54,51,44,43]},
                   index = [2005,2006,2007,2008])

df3 = pd.DataFrame({'hpi':[80,85,88,85],
                    'unemployment':[7,8,9,6],
                    'lower_tier':[50,55,65,55]},
                   index = [2001,2002,2003,2004])

In [62]:
concat= pd.concat([df1, df2]) # = rbind() in R
print concat
df4 = df1.append(df2)
print df4

      hpi  int_rate  us_gdp_thousands
2001   80         2                50
2002   85         3                55
2003   88         2                65
2004   85         2                55
2005   80         2                54
2006   85         3                51
2007   88         2                44
2008   85         2                43
      hpi  int_rate  us_gdp_thousands
2001   80         2                50
2002   85         3                55
2003   88         2                65
2004   85         2                55
2005   80         2                54
2006   85         3                51
2007   88         2                44
2008   85         2                43

In [63]:
s = pd.Series([180,299,150], index=['hpi','int_rate','us_gdp_thousands'])
df5 = df1.append(s,ignore_index=True) # add a new row. if it is a list, add a value

In [59]:
# joining and merging dataframes
df6 = pd.merge(df1,df3,on=['hpi','int_rate'])
df1.set_index('hpi',inplace=True)
df3.set_index('hpi',inplace=True)
joined = df1.join(df3) # join is base on the index

   hpi  int_rate  us_gdp_thousands_x  us_gdp_thousands_y
0   80         2                  50                  54
1   85         3                  55                  51
2   88         2                  65                  44
3   85         2                  55                  43

In [67]:
print df6
print df1
print df3
print joined

   hpi  int_rate  us_gdp_thousands_x  us_gdp_thousands_y
0   80         2                  50                  54
1   85         3                  55                  51
2   88         2                  65                  44
3   85         2                  55                  43
     int_rate  us_gdp_thousands
hpi
80          2                50
85          3                55
88          2                65
85          2                55
     lower_tier  unemployment
hpi
80           50             7
85           55             8
88           65             9
85           55             6
     int_rate  us_gdp_thousands  lower_tier  unemployment
hpi
80          2                50          50             7
85          3                55          55             8
85          3                55          55             6
85          2                55          55             8
85          2                55          55             6
88          2                65          65             9

In [32]:
#### merge data frames
df1 = pd.DataFrame({'year':[2001,2002,2003,2004],
                    'int_rate':[2,3,2,2],
                    'us_gdp_thousands':[50,55,65,55]})

df2 = pd.DataFrame({'year':[2001,2002,2003,2005],
                    'int_rate':[2,3,2,2],
                    'us_gdp_thousands':[54,51,44,43]})

merge = pd.merge(df1,df2, on='year', how='right')
                         # right, right, outer, inner(default)
                         # this is similar to R merge(, all.x= F, all.y=T)
merge.set_index('year',inplace=True)
print df1
print df2
print merge

   int_rate  us_gdp_thousands  year
0         2                50  2001
1         3                55  2002
2         2                65  2003
3         2                55  2004
   int_rate  us_gdp_thousands  year
0         2                54  2001
1         3                51  2002
2         2                44  2003
3         2                43  2005
        int_rate_x  us_gdp_thousands_x  int_rate_y  us_gdp_thousands_y
year
2001.0         2.0                50.0           2                  54
2002.0         3.0                55.0           3                  51
2003.0         2.0                65.0           2                  44
2005.0         NaN                 NaN           2                  43